{% extends 'admin.html' %}

{% block content %}
<p>
<h1>{{ thing }}</h1>
ID: {{ thing.id }}<br/>
SKU: {{ thing.sku }}<br/>
Name: {{ thing.name }}<br/>
Description: {{ thing.description|default:"(Empty)" }}<br/>
Condition: {{ thing.condition }}<br/>
Condition Description: {{ thing.condition_description|default:"(Empty)" }}<br/>
</p>


<h2>Attributes</h2>
{% if attributes %}
    <ul>
    {% for attribute, value in attributes %}
        <li>{{ attribute }}: {{ value }}</li>
    {% endfor %}
    </ul>

{% else %}
    <p>There are no attributes here.</p>
{% endif %}

<h2>Categories</h2>
<p>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'category_detail' pk=category.pk %}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
</p>
{% endblock %}
